.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set to 3 columns for a single row */
    gap: 16px;
}

.image {
    max-width: 150px; /* Adjusted max-width */
    max-height: 100px; /* Adjusted max-height */
    overflow: hidden;
    border-radius: 8px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Ensure the image takes on the border-radius */
}
